.mainbody{
    background-color: rgb(184, 152, 113);
}

.calculator{
    background-color: rgb(252, 228, 200);
    border-radius: 20px;
    margin: 10% 28%;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.field{
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 25px;
}

.x{
    padding-left: 150px;
    font-size: 50px;
}

.resultbox{
    margin: 0px;
    background-color: rgb(29, 151, 151);
    padding: 0px;
    height: 300px;
    border-bottom-right-radius: 20px;

}
